.comment_arrow_left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid rgba(white, 0.5);
}
.comment {
    margin-left: 8px;
    background: rgba(white, 0.5);
}
